[submodule "num-is-roman"]
	path = packages/num-is-roman
	url = https://github.com/bluelovers/num-is-roman.git
[submodule "normalize-num"]
	path = packages/normalize-num
	url = https://github.com/bluelovers/num-normalize.git
[submodule "node-novel-globby"]
	path = packages/node-novel-globby
	url = https://github.com/bluelovers/node-novel-globby.git
[submodule "node-novel-travis-test"]
	path = packages/novel-travis-test
	url = https://github.com/bluelovers/novel-travis-test.git
